// Corporativos

$azul: #00adef;
$verde: #7fde58;
$gris: #777;

//$color-corporativo-1: $azul;
//$color-corporativo-2: $verde;


// Mensajes
$rojo-alerta: #c13341;


// Redes Sociales

$azul-twitter: #00aced;

// Indicadores/Convenciones

$naranja:#ff8627;
$rojo:#ff002e;

// Indicadores

$rojo-indicador:#ff0031;
$amarillo-indicador:#ffce00;
$verde-indicador:#08c15c;
$azul-indicador:#00cfff;
$violeta-indicador:#d300ff;
$naranja-indicador:#ff6700;
$manzana-indicador:#ceff00;
$rey-indicador:#0049ff;

// Grises

$gris-10:#1a1a1a;
$gris-20:#333333;
$gris-30:#4d4d4d;
$gris-40:#666666;
$gris-50:#808080;
$gris-60:#999999;
$gris-70:#b3b3b3;
$gris-80:#cccccc;
$gris-90:#e5e5e5;