// Iconos

$logo: "\e900";
$logo-a: "\e901";
$logo-b: "\e902";
$isotipo: "\e905";
$isotipo-a: "\e906";
$isotipo-b: "\e907";

$logo-facebook: "\e908";
$logo-twitter: "\e90b";
$logo-linkedin: "\e90a";
$logo-google-plus: "\e909";

$icono-buscar: "\e61e";
$icono-ayuda: "\e904";
$icono-aprobado: "\e903";