// Opacidades

$opacidad-5: 0.05;
$opacidad-10: 0.1;
$opacidad-20: 0.2;
$opacidad-30: 0.3;
$opacidad-40: 0.4;
$opacidad-50: 0.5;
$opacidad-60: 0.6;
$opacidad-70: 0.7;
$opacidad-80: 0.8;
$opacidad-90: 0.9;