.btn {
	border:none;
	background-image: none;
	//display:block;
	position:relative;
	height:49px;
	font-size:1.9em;
	text-transform:uppercase;
	padding:8px 20px;
	font-family: $fuente-bold;
	text-align:center;
	color:#FFF;
	text-shadow:#000 0px 1px 0px;
	@include border-radius(10px);
}